.App {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputSet {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.label {
  flex: 1;
  margin-right: 14px;
}

.input {
  flex: 1;
  font-size: 1.2rem;
  width: 10vw;
}

.buttonSet {
  margin-top: 1.2rem;
}

.button {
  font-size: 1.2rem;
  margin-right: 10px;
}